<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="http://reservehaja.duckdns.org/oauth2/authorization/google?redirect_uri=http://reservehaja.duckdns.org&mode=login">
        <button>Google Login</button>
    </a>
    <a href="http://localhost:8080/oauth2/authorization/google?redirect_uri=http://localhost:8080&mode=unlink">
        <button>Google Unlink</button>
    </a>
    <a href="http://reservehaja.duckdns.org/oauth2/authorization/naver?redirect_uri=http://reservehaja.duckdns.org&mode=login">
        <button>Naver Login</button>
    </a>

    <a href="http://localhost:8080/oauth2/authorization/naver?redirect_uri=http://localhost:8080&mode=unlink">
        <button>Naver Unlink</button>
    </a>

    <a href="http://reservehaja.duckdns.org/oauth2/authorization/kakao?redirect_uri=http://reservehaja.duckdns.org&mode=login">
        <button>Kakao Login</button>
    </a>

    <a href="http://localhost:8080/oauth2/authorization/kakao?redirect_uri=http://localhost:8080&mode=unlink">
        <button>Kakao Unlink</button>
    </a>

</div>
</body>
</html>